
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------END RESET---------------- */


/* nav bar and wrapper stuff */

#main-menu {
	height: 70px;
	background-color:black;
	width: 100%;
	position:fixed;
}

a {
 text-decoration:none;
 color:white;
 padding: 10px 10px 0px 0px;
 font-size: 1em;
}

.logo {
	position: absolute;
	left: 20px;
	top: 10px;
	font-size: 2em;
	letter-spacing: 2pt;
	font-family: helvetica;
}

#headerwrapper{
	position:fixed;

}

header {
    background-color:none;
    height:100px;
}


ul.navbar{
	width:30%;
	position:absolute;
	top:35%;
	right:20px;
}

.navbar li {
	float:right;
	padding: 10px;
	font-family: Helvetica;
	display: inline;
}

.navbar a:hover {
	color:#ddd;
}


/* front page covers */

}

#covers {
	
	width: 100% ;
  	margin: 0 auto;

}

#covers a {
	width: 25%;
	float:left;
	padding: 2% 2% 2% 2%;

}

#covers img {
	
	width: 100%;

}

/* about me page */

#mephoto {
	float: left;
	width: 55%;
	padding: 1em 1em 1em 1em;
}



/* body for rest of pages */

#sidebar-wrapper {
	             float:left;
	   	        
				 
				 height:400px;
	   	         margin-top:5%;
	   	         margin-left: 60%;
	   	         position:fixed;
	   	         



	             }
	   
#sidebar {
	
	
	     position:absolute;
		 padding-left:15%;
		 width:400px;
		 line-height: 1.4em;


	     }
#sidebar p { width: 90%;
		margin-right: 2%;



}

#photos img {
	float: left;
	width: 55%;
	padding: 1em 1em 1em 1em;
}



h2 a {

	font-family: helvetica;
	color: grey;
	size:1em;
	width:40%;
	float: left;
}

h3 {
	font-weight: bold;
	font-size: 1.5em;
	line-height: 2em;
}



#buttons h2 {
	display: inline-block;
	float: left;
	font color: grey; 


}

#buttons a:hover {
	color:#ddd;
}

/* footer stuff */

.footer-wrap {
	clear:both;
	position:relative;
	
	background:black;
	padding-top: 20px;
	height: 150px;
	width:100%;
}

#contact {
	font-size:16px;
	line-height:1.5em;
	padding-top:1.5em;
	padding-left:20px;

}


.footer {

	clear: both;
	color:white;
	letter-spacing: 2pt;
	font-family: helvetica;

}


.footcontact {
	font-size:1em;
	line-height:1.5em;
	padding-top:1.5em;
	padding-left:25px;
	padding-bottom:1.5em;
	width:30%}


.footcontact a:hover {
	color:#ddd;
}



