
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------END RESET---------------- */


#main-menu {
	height: 70px;
	background-color:black;
	width: 100%;
	position:fixed;
}

a {
 text-decoration:none;
 color:white;
 padding: 10px 10px 0px 0px;
 font-size: 1em;
}

.logo {
	position: absolute;
	left: 20px;
	top: 10px;
	font-size: 2em;
	letter-spacing: 2pt;
	font-family: helvetica;
}

#headerwrapper{
	position:fixed;

}

header {
    background-color:none;
    height:100px;
}


ul.navbar{
	width:30%;
	position:absolute;
	top:35%;
	right:20px;
}

.navbar li {
	float:right;
	padding: 10px;
	font-family: Helvetica;
	display: inline;
}

.navbar a:hover {
	color:#ddd;
}



ul #cover {
	clear: both;
	width:33%;
	float:left;
	padding: 1% 1% 1% 1%;
}


#mephoto {
	float: left;
}


.content {

	margin:0% 5% 5% 5%;
}

#bodytext {

	float: left;
	font-family: Helvetica;
	position: fixed;
	margin-left: 50%;
	margin-top: 10%;
	margin-right: 5%;

}

#photos  {
	float: left;
	padding: 1em 1em 1em 1em;
}

h2 {

	font-family: helvetica;
	background-color:pink;
	size:1em;
}

h3 {
	font-weight: bold;
	font-size: 1.5em;
}


.footer-wrap {
	clear:both;
	position: relative;
	background:black;
	padding-top: 20px;
	height:30%;
	width:100%;
}

#contact {
	font-size:16px;
	line-height:1.5em;
	padding-top:1.5em;
	padding-left:20px;

}


.footer {
	clear: both;
	color:white;
	letter-spacing: 2pt;
	font-family: helvetica;
}


.footcontact {
	font-size:16px;
	line-height:1.5em;
	padding-top:1.5em;
	padding-left:1em;
	padding-bottom:1.5em;
	width:30%}


.footcontact a:hover {
	color:#ddd;
}



